[access "refs/*"]
	owner = group user/gotoos (gotoos)
[access "refs/for/refs/*"]
	read = group user/gotoos (gotoos)
	push = group user/gotoos (gotoos)
	label-Code-Review = -2..+2 group user/gotoos (gotoos)
	label-Verified = -1..+1 group user/gotoos (gotoos)
	rebase = group user/gotoos (gotoos)
	removeReviewer = group user/gotoos (gotoos)
	submit = group user/gotoos (gotoos)
[access "refs/heads/*"]
	read = group user/gotoos (gotoos)
	create = group user/gotoos (gotoos)
	push = +force group user/gotoos (gotoos)
	pushMerge = group user/gotoos (gotoos)
[access "refs/tags/*"]
	push = +force group user/gotoos (gotoos)
	pushTag = group user/gotoos (gotoos)
	pushSignedTag = group user/gotoos (gotoos)
